# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## files that Dev-C++ apparently procudes and which function I do not completely know
*.layout
*.win

## PIC compiler related files
*.ccspjt
*.cof
*.err
*.esym
*.hex
*.lst
*.STA
*.sym
*.tre
*.xsym